table{
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: blueviolet;
    border-collapse: collapse;
}

caption{
    color: blueviolet;
}

thead th{
    background-color: aqua;
    border-style:solid;
    border-width: 1px;
    border-color: black;
}

tbody td{
    background-color: aliceblue;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

a{
    color: blueviolet;
}

a:visited{
    color: brown;
}