/*  Page Html */

body{
    background: radial-gradient(circle at top, #CCDAE0, #EDF2F4);
}

/* Header */

header{
    text-align: center;
}

/* Contenu Page */

h1{
    color: #EF233C;
    font-size: 2em;
    font-weight: bold;
    font-family: Impact;
}

h3{
    color: #2B2D42;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline dashed;
}

article{
    border: black;
    border-width: 1px;
    border-style: solid;
}

img{
    border:  #8D99AE;
    border-width: 2px;
    border-style: solid;
}

a img:hover{
    filter: grayscale(100%);
}

.center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

span{
    color: red;
}

footer{
    text-align: right;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

a:link{
    color: #D90429;
}

a:visited{
    color: grey;
}

a:hover{
    color: #2B2D42;
}

#gallerie{
    border: #8D99AE;
    border-width: 4px;
    border-style: solid;
}

#gallerie td{
    text-align: center;
    padding: 10px;
}

#blog{
    border: #8D99AE;
    border-width: 2px;
}

#blog td{
    text-align: center;
}

caption{
    color: #2B2D42;
    font-size: 1.5em;
    font-weight: bold;
}
